.CoveoRecommendation {
  margin: 10px 0;
  padding: 0;
  @include defaultRoundedBorder();
  position: relative;
}

.coveo-recommendation-header {
  margin: 10px 0 0 0;
  padding: 0 0 10px 0;
}

.coveo-recommendation-title {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.coveo-recommendation-body {
  background: $color-blueish-white;
  margin-bottom: 1px;
  
  .CoveoResultList {
    margin: 0;
    
    .CoveoResult {
      margin: 0;
      padding: 5px;
      border-top: $default-border;
      border-bottom: none;
    }
  }
}

.coveo-recommendation-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.coveo-recommendation-column {
  padding: 5px 15px;
  flex-grow: 1;
  flex-shrink: 0.8;
  flex-basis: 300px;
  max-width: 550px
}

#coveo-recommendation-results-column {
  flex-grow: 2;
  flex-basis: 49%;
  min-width: 430px;
}

#coveo-recommendation-facet-column{
  display: inline-block;
  width: 33%;
  vertical-align: top;
}

#coveo-recommendation-main-section {
  max-width: 1450px;
}